#font{
	font-family: 'Indie Flower', cursive;
	
	text-align: center;
	color:#30afc3
}
p{
	font-family: 'Indie Flower', cursive;

color:#30afc3
}


img{
height :100px;
width  :100px;
}
body{
	background-color: pink;
}


